.components-placeholder__label {
    display: contents;
}

.be-transparent {
    position: relative;
    opacity: 0.5;
}

.containerServer {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}
