.components-placeholder__label{
    display : contents;
}
.be-transparent{
    opacity: 0.5;
}
/*.columns-add-server{*/
    /*display: flex;*/
    /*width: auto;*/
    /*justify-content: space-between;*/
/*}*/
.dashicon dashicons-format-image{
    margin-right: 0
}